$background-color: #121212;
$text-color: #ffffff;
$header-footer-background: #1e1e1e;
$link-color: #ffffff;
$link-hover-color: #cccccc;
$link-hover-background-color: #333333;
$focus-outline-color: #ffaa00;

$table-border-color: #ccc;
$table-header-background-color: #4d4d4d;
$table-row-background-color: #6d5b5b;

$button-background-color: #cdcccc;
$button-text-color: #000000;
$button-hover-color: #e6e6e6;

$error-color: red;